body{
background-color:darkslateblue;
color: rgb(255, 250, 250);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button{
background-color: rgb(12, 124, 189);
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.passo {
   display: none;
}
.passo.ativo{
   display: block;
}




